<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Downloadable\Ui\DataProvider\Product\Form\Modifier\Data\Links" type="Test\Downloadable\Ui\DataProvider\Product\Form\Modifier\Data\Links" />
    <preference for="Magento\Downloadable\Ui\DataProvider\Product\Form\Modifier\Links" type="Test\Downloadable\Ui\DataProvider\Product\Form\Modifier\Links" />
    <preference for="Magento\Downloadable\Block\Adminhtml\Catalog\Product\Edit\Tab\Downloadable\Links" type="Test\Downloadable\Block\Adminhtml\Catalog\Product\Edit\Tab\Downloadable\Links" />
    <preference for="Magento\Downloadable\Model\Link" type="Test\Downloadable\Model\Link" />
    <preference for="Magento\Downloadable\Model\LinkRepository" type="Test\Downloadable\Model\LinkRepository" />
</config>
